<%# dairyコントローラindexアクションのビューファイル %>

<% provide(:og_description, "英語を必要とする全ての方へ。英語の話題をシェアして、学習に役立てよう。") %>

<div>
<%# 画像のdigest値を取得するため、インラインのcssでasset_pathを使用している %>
<div class="topimage" style="background-image:url(<%= asset_path "world.jpg" %>);" >


<div class="topimagebox">
学生、社会人、生涯学習、、英語を必要とする全ての方へ。
<br>
英語の話題をみんなでシェアして、学習に役立てよう。
</div> <%# /.topimagebox %>

<% unless user_signed_in? %>

<div style="text-align: center;">
<a href="/users/sign_in" class="toploginbutton">ログイン</a>
<a href="/users/sign_up" class="toploginbutton2">新規登録</a>
</div>

<% end %> <%# unless user_signed_in? %>

</div> <%# /.topiamge %>

<%
=begin
%>
<br>
<br>
<p class="a4">
ご質問・ご要望は下記twitterまでどうぞ。<br>
<br>
<a href="https://twitter.com/intent/tweet?screen_name=tukatti7772&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-size="large" data-show-count="false">Tweet to @tukatti7772</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>

<%
=end
%>



<%# 以下投稿リスト %>

<%= render 'layouts/maintable' , allposts: @dairyposts , kaitousu: @dairykaitousu , link: @dairylink%>

<br>
<br>

<div class="a4">
<%= paginate(@dairyposts) %>
</div>

</div> 
