<%# dairyコントローラindexアクションのビューファイル %>


<%
=begin
%>

使わないけどコードだけ参考に残しとく
<div class="postform">
<%= form_tag('/dairy/search', method: :get) do %>
<p>
<input type="text" placeholder="検索内容" name="keyword" class="postname">
<input type="submit" value="検索する！" class="postbutton">
</p>
<% end %>
</div>

<%
=end
%>

<p class="a1">投稿一覧です。</p>

<%# 以下投稿リスト %>

<%= render 'layouts/maintable' , allposts: @dairyposts , kaitousu: @dairykaitousu , link: @dairylink%>

<br>
<br>

<div class="a4">
<%= paginate(@dairyposts) %>
</div>
