<%#dairyコントローラpostingアクションのビューファイル%>


<p class="a1">何でも、質問してみよう。</p>
<p class="a1">（投稿後、内容はすぐリストに反映されます）</p>

<div class="postform">

<%= form_tag('/dairy', method: :post) do %>

<p>

<label>
質問タイトル：<input type="text" name="title">
</label>

<br>
<br>
<b>カテゴリー：</b>
<label><input type="radio" name="field" value="家庭生活">家庭生活</label>
<label><input type="radio" name="field" value="学校">学校</label>
<label><input type="radio" name="field" value="旅行">旅行</label>
<label><input type="radio" name="field" value="買い物">買い物</label>
<label><input type="radio" name="field" value="病院">病院</label>
<label><input type="radio" name="field" value="レストラン">レストラン</label>
<label><input type="radio" name="field" value="日常会話全般" checked>日常会話全般</label>

<br>
<br>
<br>
<br>


<textarea name="text" class="wysihtml5" placeholder="ここに質問を入力してください。" cols="10" rows="10">
</textarea>

<%# bootstrap-wysiwigの記述 %>
<script type="text/javascript">

$(document).on('turbolinks:load', function(){
<%# 下の1行で、要素が存在しない場合のみツールバーを表示する%>
<%# もしこうしなければ、turbolinksにより無限に表示される%>
  if (!$('ul.wysihtml5-toolbar')[0]){
   $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5({ toolbar:{ "fa": true, 'font-styles': true,
      'color': true,
      'emphasis': {
        'small': true
      },
      'blockquote': true,
      'lists': true,
      'html': false,
      'link': true,
      'image': false,
      'smallmodals': false }});
    });
 } 
})

</script>

<br>
<br>
<br>

<p>
<input type="submit" value="投稿する！" class="postbutton">
</p>
<% end %>
</div>


