<%#dairyコントローラshowアクションのビューファイル%>

<%#facebookシェアボタンの内容表示に必要%>
<% provide(:og_url, "dairy/#{@dairydata.id}") %>
<% provide(:og_description, @dairydata.title) %>
<%#facebookシェアボタンの内容表示に必要%>


<%= render 'dairy/question2' , data: @dairydata%>

<br>
<br>

<% if user_signed_in? %>

<div class="postform">


<%= form_tag("/dairy/#{@dairydata.id}/dairyanswer", method: :post) do %>
<%#Rubyの式展開の記法は覚えておくこと%>


<textarea name="text" class="wysihtml5" placeholder="ここにコメントを入力してください。" cols="10" rows="10">
</textarea>

<%# bootstrap-wysiwigの記述 %>
<script type="text/javascript">

$(document).on('turbolinks:load', function(){
<%# 下の1行で、要素が存在しない場合のみツールバーを表示する%>
<%# もしこうしなければ、turbolinksにより無限に表示される%>
  if (!$('ul.wysihtml5-toolbar')[0]){
   $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5({ toolbar:{ "fa": true, 'font-styles': true,
      'color': true,
      'emphasis': {
        'small': true
      },
      'blockquote': true,
      'lists': true,
      'html': false,
      'link': true,
      'image': false,
      'smallmodals': false }});
    });
 } 
})

</script>

<br>
<br>
<input type="submit" value="コメントする" class="postbutton">
<% end %>

</div>



<% else %>

<p class="a1">ログインすると、投稿にコメントできます。</p>

<% end %>


<br>


<%= render 'dairy/answer2' , answer: @dairyanswer , data: @dairydata%>

