<!--dairyコントローラshowアクションのビューファイル-->

<%= render 'dairy/question2' , data: @dairydata%>

<br>
<br>

<% if user_signed_in? %>

<div class="postform">
<%= form_tag("/dairy/#{@dairydata.id}/dairyanswer", method: :post) do %>
<!--Rubyの式展開の記法は覚えておくこと-->
<textarea name="text" class="postcontent" cols="20" rows="20">
</textarea>
<br>
<br>
<input type="submit" value="投稿に回答" class="postbutton">
<% end %>
</div>

<% else %>

<p class="a1">ログインすると、投稿に回答できます。</p>

<% end %>


<br>


<%= render 'dairy/answer2' , answer: @dairyanswer , data: @dairydata%>

