<%# チュートリアルページ %>


<div class="resulttext" style="text-align: center; margin: 100px auto;">MELEYの使い方</div>

<div id="tutorial1">
1. 新規登録ボタンでユーザー登録して、ログインしてみよう！
</div>

<br>
<br>

<div id="tutorial2">
2. hahahaha
</div>

<br>
<br>

<div id="tutorial3">
3. oraaaaaaaaaaaaa
</div>

<br>
<br>

<div class="invisible" id="tutorialtext1">
ログインすると、何ができるの・・？
<br>
・投稿ができるようになります。<br>
・投稿に対して、コメントすることができるようになります。<br>
・投稿、コメントに対して、「いいね！」することができます。<br>
・気になる投稿をブックマークして、いつでも参照できます。<br>
・気になるユーザーをフォローすることができます。
<br>
<br>

ログインを行わなくても、投稿・コメントの閲覧・投稿検索・ユーザー検索が可能です。
</div>


<div class="invisible" id="tutorialtext2">
bbbbbb
</div>

<br>
<div class="invisible" id="tutorialtext3">
ssssssss
</div>