<%#othersコントローラshowアクションのビューファイル%>

<%#facebookシェアボタンの内容表示に必要%>
<% provide(:og_url, "others/#{@otherdata.id}") %>
<% provide(:og_description, @otherdata.text) %>
<%#facebookシェアボタンの内容表示に必要%>


<%= render 'others/question3' , data: @otherdata %>

<br>
<br>

<% if user_signed_in? %>

<div class="postform">
<%= form_tag("/others/#{@otherdata.id}/otheranswer", method: :post) do %>
<%#Rubyの式展開の記法は覚えておくこと%>
<textarea name="text" class="postcontent" cols="20" rows="20">
</textarea>
<br>
<br>
<input type="submit" value="投稿に回答" class="postbutton">
<% end %>
</div>

<% else %>

<p class="a1">ログインすると、投稿に回答できます。</p>

<% end %>


<br>


<%= render 'others/answer3' , answer: @otheranswer , data: @otherdata %>

