<%#othersコントローラshowアクションのビューファイル%>

<%#facebookシェアボタンの内容表示に必要%>
<% provide(:og_url, "others/#{@otherdata.id}") %>
<% provide(:og_description, @otherdata.text) %>
<%#facebookシェアボタンの内容表示に必要%>


<%= render 'others/question3' , data: @otherdata %>

<br>
<br>

<% if user_signed_in? %>

<div class="postform">


<%= form_tag("/others/#{@otherdata.id}/otheranswer", method: :post) do %>
<%#Rubyの式展開の記法は覚えておくこと%>



<textarea name="text" class="wysihtml5" placeholder="ここに質問を入力してください。" cols="10" rows="10">
</textarea>

<%# bootstrap-wysiwigの記述 %>
<script type="text/javascript">

$(document).on('turbolinks:load', function(){
<%# 下の1行で、要素が存在しない場合のみツールバーを表示する%>
<%# もしこうしなければ、turbolinksにより無限に表示される%>
  if (!$('ul.wysihtml5-toolbar')[0]){
   $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5({ toolbar:{ "fa": true, 'font-styles': true,
      'color': true,
      'emphasis': {
        'small': true
      },
      'blockquote': true,
      'lists': true,
      'html': false,
      'link': true,
      'image': false,
      'smallmodals': false }});
    });
 } 
})

</script>
<br>
<br>
<input type="submit" value="投稿に回答" class="postbutton">


<% end %>
</div>

<% else %>

<p class="a1">ログインすると、投稿に回答できます。</p>

<% end %>


<br>


<%= render 'others/answer3' , answer: @otheranswer , data: @otherdata %>

