<!--businessコントローラshowアクションのビューファイル-->

<!-- facebookシェアボタンの内容表示に必要 -->
<% provide(:og_url, "business/#{@businessdata.id}") %>
<% provide(:og_description, @businessdata.text) %>
<!-- facebookシェアボタンの内容表示に必要 -->


<%= render 'business/question1' , data: @businessdata%>

<br>
<br>

<% if user_signed_in? %>

<div class="postform">

<%# idにfroalaってつけるとfroalaエディタが使えるようになる%>

<%= form_tag("/business/#{@businessdata.id}/busianswer", method: :post) do %>
<%#Rubyの式展開の記法は覚えておくこと%>

<textarea name="text" class="postcontent" id="froala" cols="20" rows="20">
</textarea>
<br>
<br>
<input type="submit" value="投稿に回答" class="postbutton">
<% end %>

</div>

<% else %>

<p class="a1">ログインすると、投稿に回答できます。</p>

<% end %>


<br>


<%= render 'business/answer1' , answer: @businessanswer , data: @businessdata%>

