<div>

<p class="h1">
更新履歴
</p>

<br>
<br>
<br>

<p class="a3">

2017/11/5   <br>
・ユーザーの投稿情報が閲覧できるようになりました。<br>
・投稿に「いいね！」がつけられるようになりました。<br>
・投稿が最新の順番で表示されるようになりました。<br>
・検索機能のエラーを修正しました。<br>
・デザイン・レイアウトを一部変更しました。<br>
・更新履歴ページを作成しました。<br>
<br>
<br>
<br>
2017/10   <br>
・英語表現データベースの「Outputs!」を公開しました！
<br>
</p>







</div>