<div>

<p class="h1">
About Outputs
</p>

<br>
<br>
<br>


<p class="a3">
"Outputs!"は、英語のアウトプットのデータベースを構築することを目的としています。<br>
英語が読める、聞けるのだけれども、話したり、書いたりというような、<br>
"アウトプット"が苦手な方々は多いのではないでしょうか。<br>
</p>

<p class="a3">
"Outputs!"では、英語で"アウトプット"したい内容を自由に質問していただき、<br>
皆様に回答していただくことで、知恵を蓄積していきます。
</p>

<P class="a3">
カテゴリーは主に「日常会話」と「ビジネスシーン」に分けました。<br>
また、英語に関するQ&Aの枠も設けました。<br>
長い時間をかけて、この"Outputs!"が有用なものに育っていけば、と思っています。
</p>

<p class="a3">
質問および回答には、ユーザー登録をお願いしております。<br>
閲覧は、誰でも可能となっております。
</p>

<p class="a3">
"Outputs!"は、より使いやすいように随時改善していきます。<br>
ご指摘には、可能な限り対応させていただきます。
</p>

<p class="a3">
ご質問・ご要望は下記twitterまでどうぞ。<br>
<br>
<a href="https://twitter.com/intent/tweet?screen_name=tukatti7772&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-size="large" data-show-count="false">Tweet to @tukatti7772</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>

</div>


