<div>

<p class="h1">
About Outputs
</p>

<br>
<br>
<br>


<p class="a3">
　　　　　　　　　　　　　　<i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
個人で作っているシンプルな英語Q&Aサイトです。自由に質問・回答できます。
</p>

<p class="a3">
　　　　　　　　　　　　　　<i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
主なカテゴリーは「日常生活」「ビジネス」「英語全般」<br>
</p>

<p class="a3">
　　　　　　　　　　　　　　<i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
質問・回答にはユーザー登録が必要です。閲覧は、誰でも可能！
</p>


<br>
<br>
<p class="a4">
ご質問・ご要望は下記twitterまでどうぞ。<br>
<br>
<a href="https://twitter.com/intent/tweet?screen_name=tukatti7772&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-size="large" data-show-count="false">Tweet to @tukatti7772</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>

</div>


