<p class="h1">
About Outputs
</p>

<br>
<br>
<br>


<p class="a3">
"Outputs!"は、英語を発信することに主眼を置いています。<br>
英語が読める、聞けるのだけれども、話したり、書いたりというような、<br>
"アウトプット"が苦手な方々は多いのではないでしょうか。<br>
私つかっちも、その一人です。
</p>

<p class="a3">
このサイトでは、英語で"アウトプット"したい内容を質問していただき、<br>
英語の得意な方に回答していただくことで、<br>
英語のアウトプットのデータベースを構築したいと考えています。
</p>

<P class="a3">
質問は、主に「日常会話」と「ビジネスシーン」に分けました。<br>
また、アウトプットのみならず、英語に関するQ&Aの枠も設けました。<br>
長い時間をかけて、この"Outputs!"が有用なものに育っていけば、と思っています。
</p>

<p class="a3">
質問および回答には、ユーザー登録をお願いしております。<br>
閲覧は、誰でも可能です。
</p>

<p class="a3">
つかっちがプログラム初心者のため、サイトには拙い部分が多いのですが、<br>
時間をかけて修正・改良していきたいと思っています。<br>
ご指摘をいただければ、可能な限り対応させていただきます。
</p>






