<%# tagsコントローラshowアクションのビューファイル %>

<br>
<br>

<p class="h2">投稿一覧：タグ「<%= @tagname %>」</p>
<%= render 'layouts/maintable' , allposts: @posts , kaitousu: @dairykaitousu , link: @dairylink%>

<br>
<br>

<div class="a4">
<%= paginate(@posts) %>
</div>

