<%# tagsコントローラshowアクションのビューファイル %>

<br>
<br>

<p class="resulttext">タグ「<%= @tagname %>」の付いた投稿一覧</p>
<%= render 'layouts/maintable' , allposts: @posts , kaitousu: @dairykaitousu , link: @dairylink%>

<br>
<br>

<div class="a4">
<%= paginate(@posts) %>
</div>

