<%# tagsコントローラshowアクションのビューファイル %>

<br>
<br>

<p class="h2">タグ「<%= @tagname %>」の付いている投稿一覧です。</p>
<%= render 'layouts/maintable' , allposts: @posts , kaitousu: @dairykaitousu , link: @dairylink%>

<br>
<br>

<div class="a4">
<%= paginate(@posts) %>
</div>

