
html,body{
  height: 100%;
}

/* ページ全体を包む箱。フッターを最下部に表示するために必要 使用中*/
#frame{
  width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

/* コンテンツを包む箱。フッターを最下部に表示するために必要。#footのheightと同じ値にする 使用中*/
#contents{
  padding-bottom: 40px;
}

/* フッターのcss 使用中*/
#foot{
  color: white;
  background: linear-gradient(to bottom, gray, silver);
  text-align: center;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

/* 検索結果などのテキスト　使用中*/
.resulttext{
  font-family: 'Yu Gothic',sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #0066cc;
  animation: fadeIn 2s ease 0s 1 normal;
  text-align: center;
  margin-top: 100px;
}

@keyframes fadeIn {
0% {opacity: 0}
100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
0% {opacity: 0}
100% {opacity: 1}
}


/* トップページのログインボタン　使用中 */
.toploginbutton{
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  background-color: white;
  margin: 80px 40px;
}

/* トップページのログインボタン　使用中 */
.toploginbutton:hover {
    background: #b3e1ff;
  }

/* トップページのログインボタン　使用中 */
.toploginbutton2{
  display: inline-block;
  text-decoration: none;
  color: green;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px green;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  background-color: white;
  margin: 80px 40px;
}

/* トップページのログインボタン　使用中 */
.toploginbutton2:hover {
    background: #b3e1ff;
  }

/* トップページのログインボタン　使用中 */
.toploginbutton3{
  display: inline-block;
  text-decoration: none;
  color: green;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px green;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  background-color: white;
  margin: 80px 40px;
}

/* トップページのログインボタン　使用中 */
.toploginbutton3:hover {
    background: #b3e1ff;
  }



/* バリデーションのエラーメッセージ bootstrapを継承　使用中*/
.alert.alert-danger.custom{
  margin-top: 50px;
}

/* バリデーションのエラーメッセージ bootstrapを継承　devise用　使用中*/
.alert.alert-danger.custom2{
  width: 90%;
  margin: 50px auto;
  list-style: none;
  text-align: center;
  font-size: 18px;
}

/* ナビバーの色変更用 bootstrapを継承　使用中*/
.navbar.navbar-default.color{
  background: linear-gradient(to bottom, #FFCC99, white);
}

/* ナビバーのボタンの位置調整。bootstrapを継承 使用中*/
.btn.btn-default.navbar-btn.padding{
 margin-left: 10px;
 margin-right: 10px;
}

/* topページ画像用 使用中*/
.topimage{
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* topページの画像の中のbox 使用中*/
.topimagebox{
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 250px 0 0 0;
  font-size: 25px;
  font-weight: bold;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
  color: white;
}

/* フォローボタン用 remote true しているので名前は変えない 使用中*/
#followbutton{
  display: inline-block;
  vertical-align: middle;
  margin: 0px 20px;
}

/* ユーザーの画像・名前・フォローボタンの表示用　inline-blockを包む箱 使用中*/
.userbox{
  text-align: center;
  margin: 80px auto 40px auto;
}

/* bootstrapのカスタマイズ 使用中*/
.navbar{
    border-radius: 0;
    border: none;
    margin: 0;
}

/* ユーザーページのメニューの表示用。bootstrapを継承 使用中*/
.btn-group.inline{
  display: inline-block;
}

/* ユーザーページのメニューの表示用。.btn-group.inlineを包む箱　使用中 */
.menubox{
  text-align: center;
}


/*シェアボタン用　vertical-alignで縦位置を親要素の中央に合わせる　使用中*/
.inline{
  display: inline-block;
}

.inline2{
  display: inline-block;
  font-size: 20px;
  height: 40px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

.twitter-share-button{
  vertical-align: middle;
}

.fb-share-button{
  vertical-align: middle;
}


/* ヘッダーのcss */
#head{
  background-color: #fdf5e6;
  height: 10%;
}


/* 新規登録画面のcss */

/* 使用中 */
.signup{
  font-size: 20px;
  margin: 50px auto 0 auto;
  text-align: center;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

/* 使用中 */
.signup2{
  font-size: 20px;
  margin: 50px auto 0 auto;
  text-align: center;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

/* 使用中 */
.signup3{
  font-size: 20px;
  margin: 50px auto 50px auto;
  text-align: center;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

/* 使用中 */
.signup4{
  font-size: 20px;
  margin: 50px auto;
  text-align: center;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

/* 新規登録画面のフォーム用。widthでフォームの幅が変えられる！ 使用中 */
.registerbox{
  width: 300px;
}

/* 新規登録画面のフォーム用。widthでフォームの幅が変えられる！ 使用中 */
.registerbox2{
  width: 500px;
  height: 100px;
}

/* 使用中 */
.avatar{
  border: none;
  width: 90%;
  margin: 0 auto 20px auto;
}

/*  使用中 */
.signupbutton{
  font-size: 20px;
  height: 30px;
  width: 250px;
  color: white;
  background-color: skyblue;
  border-style: none;
  border-radius: 5px;
}



/*投稿画面を覆う箱 使用中 */
.postform{
  width: 90%;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

/* 投稿タイトル　使用中 */
.posttitle{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 5px;
  border: solid 0.5px #006600;
  font-size: 18px;
}

/* タグのフォーム　使用中 */
.tagbox{
  width: 130px;
  margin-bottom: 50px;
  font-size: 15px;
  border-radius: 5px;
  border: solid 0.5px #006600;
}

.postcontent{
  font-size: 20px;
  height: 200px;
  width: 600px;
  border-radius: 5px;
  border: solid 1px;
}

/* 使用中 */
.postcontent2{
  font-size: 20px;
  height: 50px;
  width: 600px;
  border-radius: 5px;
  border: solid 1px;
}

/* 投稿フォーム　使用中 */
.textbox{
  height: 300px;
  width: 100%;
  border-radius: 5px;
  border: solid 0.5px #006600;
  font-size: 15px;
}


/* 投稿ボタン・フォローボタン用 */
.postbutton{
  font-size: 20px;
  height: 30px;
  border-radius: 5px;
  background-color: skyblue;
  color: white;
  border: none;
}

.postbutton2{
  font-size: 20px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  background-color: #CC6666;
  color: white;
  border: none;
}


/* タグの見た目を記述  使用中*/
.tag{
  color: white;
  background-color: skyblue;
  border-radius: 5px;
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 5px 5px 5px 5px;
}

/* 2行以上の文章は...で表示するcss 使用中*/

.ellipsis {
    position: relative;
    height: 40px;
    overflow: hidden;
    line-height: 20px;
    font-size: 15px;
    font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

.ellipsis:before, .ellipsis:after {
    position: absolute;
    background: #fff;
}

.ellipsis:before {
    content: "･･･";
    bottom: 0;
    right: 0;
}

.ellipsis:after {
    content: "";
    width: 100%;
    height: 100%
}

/* 2行以上の文章は...で表示するcss */



/* 個別投稿ページ(showアクション)のcss */

/* bootstrapを継承  使用中*/
.panel.panel-success.mainbox{
  width: 90%;
  font-size: 15px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
  margin: 80px auto;
}

/* bootstrapを継承 使用中*/
.panel.panel-info.mainbox{
  width: 90%;
  font-size: 15px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
  margin: 80px auto;
}

/* bootstrapを継承 */
/* ユーザー自己紹介欄に使用 */
.panel.panel-danger.mainbox{
  width: 90%;
  font-size: 15px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
  margin: 40px auto;
}

/* bootstrapを継承 */
.panel-title.bigtitle{
  color: black;
  font-size: 25px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}


/* 使用中 */
.a4{
  text-align: center;
  margin: 50px auto;
  font-size: 20px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

/* 使用中 */
.a5{
  padding: 0px 0px 25px 0px;
  text-align: center;
  font-size: 25px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

/* a5を継承 */
.a5.boldtext{
  font-weight: bold;
}

/* ナビバーのタイトルのフォント。使用中 */
.navbartitle{
  color: deepskyblue;
  font-weight: bold;
}


/*統計ページのcss 使用中*/

.countdisplay1{
  text-align: center;
  margin-top: 100px;
}

.countdisplay2{
  text-align: center;
  margin-bottom: 100px;
}

.countbox {
    background: #dcefff;
    width: 200px;
    display: inline-block;
}

/* クラス間のスペースの有無で全く違う・・*/
.countbox .box-title1 {
    font-size: 20px;
    background: #5fb3f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

/* クラス間のスペースの有無で全く違う・・*/
.countbox .box-title2 {
    font-size: 20px;
    background: #ff9900;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

/* 統計ページの数字のフォント　使用中 */
.countfont{
  font-size: 20px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

/* いいね！機能用のcss */
#like_button{
  color: blue;
  border: none;
  background-color: white;
}

.likes{
  color: blue;
}


/* ブックマーク機能用 */
.bookmark{
  text-align: center;
  margin: 50px auto;
}

/* 画像を丸くする　使用中 */
.userimage{
  border-radius: 15px;
}

/* mediumサイズのユーザー画像を丸くする　使用中 */
.userimage2{
  border-radius: 50%;
}



/* レスポンシブデザイン */
/* cssは、後から書かれた方が優先されるので、メディアクエリは後に書いておく */

@media screen and (max-width: 480px){
 #headtext{
  font-size: 5px;
 }


/* 使用中 */
.a4{
  text-align: center;
  margin: 50px auto;
  font-size: 15px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

/* 使用中 */
.a5{
  padding: 0px 0px 25px 0px;
  text-align: center;
  font-size: 15px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

/* a5を継承 */
.a5.boldtext{
  font-weight: bold;
}


.topimage{
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* topページの画像の中のbox */
.topimagebox{
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0 0 0;
  font-size: 12px;
  font-weight: bold;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
  color: white;
}

/* 投稿ボタン・フォローボタン用 */
.postbutton{
  font-size: 15px;
  height: 20px;
  border-radius: 5px;
  background-color: skyblue;
  color: white;
  border: none;
}

/* ユーザーの画像・名前・フォローボタンの表示用　inline-blockを包む箱 */
.userbox{
  text-align: center;
  margin: 40px auto 20px auto;
}

/* maintableのcss */

/* bootstrapを継承 */
.panel.panel-success.mainbox{
  width: 90%;
  font-size: 15px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
  margin: 40px auto;
}

/* bootstrapを継承 */
.panel.panel-info.mainbox{
  width: 90%;
  font-size: 15px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
  margin: 40px auto;
}

/* bootstrapを継承 */
/* ユーザー自己紹介欄に使用 */
.panel.panel-danger.mainbox{
  width: 90%;
  font-size: 15px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
  margin: 40px auto;
}

/* bootstrapを継承 */
.panel-title.bigtitle{
  color: black;
  font-size: 15px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}


.font1{
  font-size: 10px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

/* タグの見た目を記述 */
.tag{
  color: white;
  background-color: skyblue;
  border-radius: 5px;
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 5px 5px 5px 5px;
  font-size: 10px;
}

/* 2行以上の文章は...で表示するcss */

.ellipsis {
    position: relative;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    font-size: 10px;
    font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

.ellipsis:before, .ellipsis:after {
    position: absolute;
    background: #fff;
}

.ellipsis:before {
    content: "･･･";
    bottom: 0;
    right: 0;
}

.ellipsis:after {
    content: "";
    width: 100%;
    height: 100%
}

/*統計ページのcss 使用中*/

.countdisplay1{
  text-align: center;
  margin-top: 60px;
}

.countdisplay2{
  text-align: center;
  margin-bottom: 60px;
}

.countbox {
    background: #dcefff;
    width: 60px;
    display: inline-block;
}

/* クラス間のスペースの有無で全く違う・・*/
.countbox .box-title1 {
    font-size: 9px;
    background: #5fb3f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    letter-spacing: 0.05em;
}

/* クラス間のスペースの有無で全く違う・・*/
.countbox .box-title2 {
    font-size: 9px;
    background: #ff9900;
    padding: 4px;
    text-align: center;
    color: #FFF;
    letter-spacing: 0.05em;
}

/* 統計ページの数字のフォント　使用中 */
.countfont{
  font-size: 12px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

/* 新規登録画面のフォーム用。widthでフォームの幅が変えられる！ 使用中 */
.registerbox2{
  width: 300px;
  height: 100px;
}

/* 使用中 */
.avatarbox{
  font-size: 10px;
}

/*投稿画面を覆う箱 使用中 */
.postform{
  width: 90%;
  font-size: 20px;
  margin: 0 auto;
}

/* 投稿タイトル　使用中 */
.posttitle{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  border: solid 0.5px #006600;
}



/* タグのフォーム　使用中 */
.tagbox{
  width: 60px;
  height: 30px;
  margin-bottom: 50px;
  font-size: 15px;
  border-radius: 5px;
  border: solid 0.5px #006600;
}

/* 投稿フォーム　使用中 */
.textbox{
  height: 300px;
  width: 100%;
  border-radius: 5px;
  border: solid 0.5px #006600;
  font-size: 12px;
}



/* バリデーションのエラーメッセージ bootstrapを継承　使用中*/
.alert.alert-danger.custom{
  margin-top: 50px;
  font-size: 10px;
  font-weight: bold;
}

/* バリデーションのエラーメッセージ bootstrapを継承　使用中*/
.alert.alert-danger{
  font-size: 10px;
  font-weight: bold;
}

/* バリデーションのエラーメッセージ bootstrapを継承　devise用　使用中*/
.alert.alert-danger.custom2{
  width: 90%;
  margin: 50px auto 0 auto;
  font-size: 10px;
  font-weight: bold;
  list-style: none;
}

/* トップページのログインボタン　使用中 */
.toploginbutton{
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  color: #668ad8;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  background-color: white;
  margin: 30px 20px;
}

/* トップページのログインボタン　使用中 */
.toploginbutton:hover {
    background: #b3e1ff;
  }

/* トップページのログインボタン　使用中 */
.toploginbutton2{
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  color: green;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: solid 2px green;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  background-color: white;
  margin: 30px 20px;
}

/* トップページのログインボタン　使用中 */
.toploginbutton2:hover {
    background: #b3e1ff;
  }

/* トップページのログインボタン　使用中 */
.toploginbutton3{
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  color: green;
  width: 80px;
  height: 80px;
  line-height: 50px;
  border-radius: 50%;
  border: solid 2px green;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  background-color: white;
  margin: 30px 20px;
}

/* トップページのログインボタン　使用中 */
.toploginbutton3:hover {
    background: #b3e1ff;
  }

/* 検索結果などのテキスト　使用中*/
.resulttext{
  font-family: 'Yu Gothic',sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #0066cc;
  animation: fadeIn 2s ease 0s 1 normal;
  text-align: center;
  margin-top: 50px;
}

/* モバイルでの投稿内容の文字の大きさ　使用中 */
.mobiletext{
  font-size: 10px;
}

@keyframes fadeIn {
0% {opacity: 0}
100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
0% {opacity: 0}
100% {opacity: 1}
}

}
