
html,body{
  height: 100%;
}

#frame{
  height: 100%;
}


/*シェアボタン用　vertical-alignで縦位置を親要素の中央に合わせる*/
.inline{
  display: inline-block;
}

.twitter-share-button{
  vertical-align: middle;
}

.fb-share-button{
  vertical-align: middle;
}


/* ヘッダーのcss */
#head{
  background-color: #fdf5e6;
  height: 10%;
}

#headtext{
  font-size: 27px;
  font-family: 'Impact', sans-serif;
  border: none;
  float: left;
  margin: 1% 0 0 150px
}


#newuser{
  font-size: 18px;
  font-family: 'Impact', sans-serif;
}



#loginoutbutton{
  font-size: 20px;
  font-family: 'Impact', sans-serif;
  text-align: center;
  height: 30px;
  width: 100px;
  background-color: skyblue;
  border-style: none;
  border-radius: 5px;
  float: right;
  margin: 2% 100px 0 0;
}




/* 新規登録画面のcss */
.signup{
  font-size: 20px;
  height: 30px;
  margin: 5% auto;
  text-align: center;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

.signupbox{
  text-align: center;
}

.signupbutton{
  font-size: 20px;
  height: 30px;
  width: 250px;
  color: white;
  background-color: skyblue;
  border-style: none;
  border-radius: 5px;
}


/* レスポンシブデザイン */


@media screen and (max-width: 480px){
 #headtext{
  font-size: 5px;
 }
}



/* メニューのcss */



#mainmenu{
 background-color: #f0f8ff;
 height: 10%;
 border: solid 1px #f0f8ff;
}

table#menutable{
  margin: 2% auto;
  width: 80%;
  height: 15%;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
  border: solid 1px #f0f8ff;
}


th{
  text-align:center;
  font-size: 18px;
}



/* コンテンツのcss */

#Acontents{
  height: 87%;
  font-size: 30px;
  padding: 5%;
  overflow-y: scroll;
}
/*↑強制的にスクロールバーを表示させることで、バーの有無によるwidthのズレに起因する
ガタツキを防ぐ*/

/* 投稿フォームのcss */
.postform{
  font-size: 20px;
  text-align: center;
  margin: 50px 0px;
}

.postname{
  font-size: 20px;
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: solid 1px;
}

.postcontent{
  font-size: 20px;
  height: 400px;
  width: 1000px;
  border-radius: 5px;
  border: solid 1px;
}

.postbutton{
  font-size: 20px;
  height: 30px;
  border-radius: 5px;
  background-color: skyblue;
  color: white;
  border: none;
}

/* Q&Aテーブルのcss */
table#QAtable{
  margin: 0% auto;
  width: 100%;
  height: 10%;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
  table-layout: fixed;
}

th#No{
  width: 5%;
}

th#naiyou{
  width: 63%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th#toukousya{
  width: 20%;
}

th#response{
  width: 12%;
}


/* 個別投稿ページ(showアクション)のcss */
.showbox{
  border: solid 1px;
  border-radius: 5px;
  border-color: #ff4500;
  height: auto;
  font-size: 15px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
  padding: 20px;
  margin: 30px;
}

.showbox2{
  border: solid 1px;
  border-radius: 5px;
  border-color: #1e90ff;
  height: auto;
  font-size: 15px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
  margin: 30px;
  padding: 20px;
}




/* 汎用テキスト・boxのcss */
.indexbox{
  margin: 0 0 0 150px;
}

.a1{
  padding: 0px 0px 50px 0px;
  text-align: center;
  font-size: 30px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

.a2{
  padding: 0px 0px 50px 0px;
  text-align: center;
  font-size: 20px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

.a3{
  padding: 0px 0px 50px 0px;
  margin: 0 0 0 250px;
  font-size: 20px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

.a4{
  text-align: center;
  font-size: 20px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

.a5{
  padding: 0px 0px 25px 0px;
  text-align: center;
  font-size: 25px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

.boldtext{
  font-weight: bold;
}

.deepskyblue{
  color: deepskyblue;
}

.black{
  color: black;
}

.h1{
  width: 40%;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
  font-size: 40px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

.text1{
  font-weight: bold;
  color: #ff4500;
}

.text2{
  font-weight: bold;
  color: #1e90ff;
}

/* タブメニューのcss */
.tab-menu {
}

.tab-menu ul {
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 0;
  text-align: center;
}

.tab-menu li.list1{
  width: 120px;
  height: 50px;
  cursor: pointer;
  background-color: #FFCC99;
  border-top-right-radius: 10px;
  font-size: 25px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.tab-menu li.list2{
  width: 120px;
  height: 50px;
  cursor: pointer;
  border-top-right-radius: 10px;
  font-size: 25px;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
  text-align: center;
  background-color: #fff;
  color: #FFCC99;
  display: inline-block;
}

/*統計ページのcss*/

.countdisplay{
  text-align: center;
}

.countbox {
    background: #dcefff;
    width: 200px;
    display: inline-block;
}
.countbox .box-title {
    font-size: 25px;
    background: #5fb3f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.countbox p {
    padding: 15px 20px;
    margin: 0;
}

/* いいね！機能用のcss */
#like_button{
  color: blue;
  border: none;
  background-color: white;
}

.likes{
  color: blue;
}



/* フッターのcss */
#foot{
  background-color: #f8f8f8;
  height: 5%;
  text-align: center;
  font-weight: bold;
  position: absolute;   /* 絶対位置でフッターを固定 */
  width: 100%;
  bottom: 0px;
  padding: 5px;
}