<p>こんにちは、 <%= @resource.email %>さん!<br>
Outputs管理人のTUKATTIです。</p>
<br>
<p>
  パスワードの変更のリクエストがありました。<br>
  下記のURLをクリックして、パスワードの変更を完了してください。
</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>
<br>
<p>もし身に覚えのない場合は、このメールは無視してください。</p>
<p>上記のリンクをクリックし、入力内容を送信するまで、パスワードは変更されません。</p>
<br>
<br>
<br>

<p> Outputs管理人　TUKATTI  </p>
