<!--回答の表示のテンプレートファイル-->



<% answer.each do |roop| %>

<!-- 質問者と回答者が同じ場合は、色分けする -->

<% if roop.user_nickname == data.name %>

<div class="showbox">
<p class="text1"><%= roop.user_nickname %> さんの回答</p>
<p> <%= simple_format roop.text %> </p>
</div>

<% else %>

<div class="showbox2">
<p class="text2"><%= roop.user_nickname %> さんの回答</p>
<p> <%= simple_format roop.text %> </p>
</div>

<% end %>

<% end %>